@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <nav>
        <ul>
            <li>
                <a asp-controller="BL" asp-action="Index">BL</a>
            </li>
            <li>
                <a asp-controller="Container" asp-action="Index">Container</a>
            </li>
            <li>
                <a asp-controller="Home" asp-action="Credits">Créditos</a>
            </li>
        </ul>
    </nav>

</div>
