@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root { height: 100%; }
body { @apply bg-gray-50 text-gray-800; }
.flying-area { position: fixed; left:0; top:0; width:100%; height:100%; pointer-events:none; overflow:hidden; z-index:40; }